h1{
    font-size: 50px;
}
.topnav{
    overflow: hidden;
}
body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.topnav a{
    float:right;
    color: rgb(101, 101, 155);
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: whitesmoke;
    color:rgb(165, 165, 235); 
}
.topnav a.active{
    background-color: rgb(243, 220, 220);
    color:cadetblue;
}
#contact-submit{
    background-color:lightblue;
    color: white;
    font-family: inherit;
    border-radius: 5px;
}
i.fas{
    color: rgb(101, 101, 212);

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: .5em;
}
.header-relative{
    position: relative;
    animation: fade-in .4s ease-in;
}
#refinery-vid{
    padding: 50px;
    margin: 50px;
    align-content: center;
    
}